header{
    background-color: #f7f6f6;
}

nav{
    height: 40px;
    position: relative;
}

nav img{
    width: 32px;
    height: 32px;
    display: inline-block;
    margin-top: 4px;
    margin-right: 10px;
}

nav p{
    display: inline-block;
    width: 270px;
    font-size: 14px;
    line-height: 24px;
    position: absolute;
    top: 50%;
    margin-top: -12px;
}

nav p a:first-of-type{
    color: orange;
    font-size: 14px;
}

nav p a:hover{
    color:  #F22E00;
}

nav ul{
    height: 24px;
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -12px;
    vertical-align: middle;

    display: flex;
    width: 500px;
    justify-content: space-between;
}

nav ul li{
    /* border: 1px solid black; */
    width: 80px;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
}

header::after{
    content: "";
    clear: both;
}