<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>
  <!-- <link rel="stylesheet" href="http://127.0.0.1:8080/lib/layui/css/layui.css" /> -->

  <!-- 引入样式 -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <link rel="stylesheet" href="/lib/layui/css/layui.css">
  <!-- 引入组件库 -->
  <!-- <script src="https://unpkg.com/element-ui/lib/index.js"></script> -->
  <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.5.6/vue.js"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.0/axios.js"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/element-ui/2.14.1/index.js"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.js"></script>
  <script type="text/javascript" src="/lib/layui/layui.js"></script>
  <script type="text/javascript" src="/lib/layui/layui.all.js"></script>
  <style>
    [v-cloak] {
      display: none;
    }
    /* 计数器 */
    .el-input-number--mini {
      width: 115px;
      line-height: 26px;
    }
    .el-table td {
      padding: 5px 0;
    }
    .el-table th>.cell {
      text-align: center;
    }
    .el-table .cell {
      text-align: center;
    }
    .el-dialog {
      margin: 0px auto 10px;
    }
    * {
      box-sizing: border-box;
    }

    .image-box>img {
      max-width: 100%;
      vertical-align: middle;
      width: 175px;
      height: 112px;
    }

    .btn {
      /* display: inline-block; */
      padding: 5px 10px;
      font-size: 10px;
      color: #fff;
      border: 2px solid #4d92d9;
      background-color: #4d92d9;
      text-decoration: none;
      transition: 0.4s;
      border-radius: 3px;
    }

    .btn:hover {
      background-color: transparent;
      color: #4d92d9;
      transition: 0.4s;
    }

    .text-desc {
      position: absolute;
      left: 0;
      top: 0;
      background-color: #fff;
      height: 100%;
      opacity: 0;
      width: 100%;
      padding: 10px;
    }

    .port-1 {
      float: left;
      width: 100%;
      position: relative;
      overflow: hidden;
      text-align: center;
      /* border: 4px solid rgba(255, 255, 255, 0.9); */
      width: 175px;
      height: 112px;
      border-radius: 3px;
      /* box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04); */
    }
    .el-image{
      box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);

    }

    .port-1 .text-desc {
      opacity: 0.9;
      top: -100%;
      transition: 0.5s;
      color: #000;
      padding: 38px 20px 20px;
    }

    .port-1 img {
      transition: 0.5s;
    }

    .port-1:hover img {
      transform: scale(1.2);
    }

    .port-1.effect-2 .text-desc {
      top: auto;
      bottom: 100%;
    }

    .port-1.effect-2:hover .text-desc {
      bottom: 0;
    }

    .text-desc > a{
      cursor: pointer;
    }
    .port-1 > .el-image {
      #overflow: revert;
    }
    #nav{
      margin-left: 95%;
    }
    /* nav */
    .x-nav {
      position: relative;
      border-bottom: 1px solid #e5e5e5;
      line-height: 39px;
      height: 60px;
      font-size: 15px;
    }
    .x-so input.layui-input {
      width: 150px;
      margin-bottom: 20px;
    }
    .x-so input.layui-input, .x-so input.layui-btn {
      display: inline-block;
    }
    .el-button+.el-button {
      margin-left: 5px;
    }
    /* 控制价格的宽度 */
    .input-price{
      padding: 0px;
      width: 100px;
    }
  </style>
</head>
<body>
<div id="app">
  <div class="x-nav" style="padding: 10px 20px">
    <form class="layui-form layui-col-md12 x-so" onsubmit="return false;">

      <!-- <input type="text" name="username" id="findByUsername" placeholder="请输入用户名或姓名" autocomplete="off" class="layui-input"> -->
      <el-input placeholder="请输入内容" v-model="searchContent" style="width: 250px;" clearable>
      </el-input>
      <el-button type="primary" plain icon="el-icon-search"></el-button>
      <el-button type="primary" plain icon="el-icon-circle-plus-outline" @click='insertOpenDialog'>添加</el-button>
      <el-button type="primary" plain icon="el-icon-upload" onclick="clickExcelUpload()">Excel导入</el-button>


      <el-button type="primary" icon="el-icon-refresh" style="float:right" plain onclick="javascript:location.replace(location.href);"></el-button>

      <!-- 	<a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);"
       title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i>
      </a> -->
    </form>

  </div>
  <div style="clear: both;"></div>

  <!-- 表格 -->
  <el-table :data="goodsList" :fit='true' type=index :default-sort="{prop: 'endTime', order: 'descending'}">

    <el-table-column label="商品名称">
      <template slot-scope="scope">
        <div>{{ scope.row.goodsName }}</div>
      </template>
    </el-table-column>
    <el-table-column label="封面图片">
      <template slot-scope="scope">
        <el-image class='el-image' style="width: 100px; height: 100px; border-radius: 3px;" :src=scope.row.pictureUrl
                  :preview-src-list="getPrivewImages(scope.$index)" qfit="cover">
        </el-image>
      </template>
    </el-table-column>

    <el-table-column label="商品标题">
      <template slot-scope="scope">
        <div>{{ scope.row.description }}</div>
      </template>
    </el-table-column>

    <el-table-column label="销售价格">
      <template slot-scope="scope">
        <el-input-number class="input-price" v-model="scope.row.mallPrice" size="mini" :min="0.01" :controls="false"
                         :precision="2"></el-input-number>
      </template>
    </el-table-column>
    <el-table-column label="市场价格">
      <template slot-scope="scope">
        <el-input-number class="input-price" v-model="scope.row.marketPrice" size="mini" :min="0.01" :controls="false"
                         :precision="2"></el-input-number>
      </template>
    </el-table-column>
    <el-table-column label="分类">
      <template slot-scope="scope">
        <el-cascader :show-all-levels="false" v-model="scope.row.type" :options="options" @change="handleCascader(scope.row.goodsId, scope.row.type, scope.$index)"></el-cascader>
      </template>
    </el-table-column>

    <el-table-column prop="salesVolume" label="销售量" sortable width='100'>
    </el-table-column>
    <el-table-column label="库存量" sortable sort-by='inventory'>
      <template slot-scope="scope">
        <el-input-number size="mini" v-model=scope.row.inventory @change="changeInventory(scope.row.goodsId,scope.row.inventory)"
                         :min=0 :max="9999999" label="描述文字"></el-input-number>
      </template>
    </el-table-column>
    <el-table-column width='80' prop="tag" label="状态" :filters="[ { text: '未上架', value: '0' },{ text: '上架中', value: '1' }, { text: '强制下架', value: '2' }]"
                     :filter-method="filterTag" filter-placement="bottom-end">
      <template slot-scope="scope">
        <el-tag :type="scope.row.tag === '上架中' ? 'primary' : 'success'" disable-transitions>{{showStatus(scope.row.status)}}</el-tag>
      </template>
    </el-table-column>

    <el-table-column label="是否上架" width='80'>
      <template slot-scope="scope">
        <el-tooltip :content="scope.row.status==0?'上架':'下架'" placement="top">
          <el-switch :key=scope.row.id v-model=scope.row.status @change="changeStatus(scope.row.goodsId,scope.row.status)"
                     :active-value=1 :inactive-value=0>
          </el-switch>
        </el-tooltip>
      </template>
    </el-table-column>

    <el-table-column label="操作">
      <template slot-scope="scope">
        <el-button size="mini" @click="editOpenDialog(scope.row.goodsId,scope.$index)">编辑</el-button>
        <el-button size="mini" type="danger" @click="deleteById(scope.row.goodsId,scope.$index)">删除</el-button>
      </template>
    </el-table-column>
  </el-table>

  <!-- 商品管理弹窗 -->
  <el-dialog :title="dialogType==1?'添加商品':'商品管理'" :visible.sync="dialogFormVisible" top='1vh'>
    <el-form :model="form">
      <el-form-item label="" :label-width="formLabelWidth">
        <div class="dialog-img-div">
          <div class="port-1 effect-2">
            <el-image style="width: 120px; height: 120px" :src="dialogImgUrl" fit="fit" @load="imgLoadSuccess" @error="imgLoadError"></el-image>
            <div class="text-desc">
              <a onclick="clickUpload()" class="btn">点击更换图片</a>
            </div>
          </div>
        </div>
      </el-form-item>

      <!-- 					<el-form-item label="ID" :label-width="formLabelWidth" v-if='dialogType==2'>
        <el-input v-model="form.id" disabled autocomplete="off"></el-input>
      </el-form-item> -->
      <el-form-item label="封面链接" :label-width="formLabelWidth">
        <el-input placeholder="封面链接" v-model=form.pictureUrl @change='dialogImgUrlChange()'>
        </el-input>
      </el-form-item>
      <el-form-item label="商品名称" :label-width="formLabelWidth">
        <el-input placeholder="商品名称" v-model=form.goodsName autocomplete="off"></el-input>
      </el-form-item>
      <el-form-item label="商品标题" :label-width="formLabelWidth">
        <el-input placeholder="商品标题" type="textarea" v-model=form.description autocomplete="off"></el-input>
      </el-form-item>
      <el-form-item label="类别" :label-width="formLabelWidth">
        <el-cascader v-model="form.type" :options="options"></el-cascader>
      </el-form-item>
      <el-form-item label="销售价格" :label-width="formLabelWidth">
        <el-input-number v-model=form.mallPrice size="mini" :min="0" :controls="false" :precision="2"></el-input-number>
      </el-form-item>

      <el-form-item label="原价" :label-width="formLabelWidth">
        <el-input-number v-model=form.marketPrice size="mini" :min="0" :controls="false" :precision="2"></el-input-number>
      </el-form-item>

      <el-form-item label="库存量" :label-width="formLabelWidth">
        <el-input-number size="mini" v-model=form.inventory :min="1" :max="99999" label="描述文字"></el-input-number>
      </el-form-item>
      <el-form-item label="是否上架" :label-width="formLabelWidth">
        <el-tooltip :content="'是否上架'" placement="top">
          <el-switch v-model=form.status :active-value=1 :inactive-value=0></el-switch>
        </el-tooltip>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button @click="dialogFormVisible = false">取 消</el-button>
      <el-button type="primary" @click="insertGoods()" v-if="dialogType==1" :loading=dialogBtnLoding>添 加</el-button>
      <el-button type="primary" @click="changeGoods()" v-else :loading=dialogBtnLoding>更 改</el-button>
    </div>
  </el-dialog>

  <!-- 文件上传功能 -->
  <el-upload style='display: none;' class="upload-demo" :action="uploadUrl" :on-success='uploadSuccess' :on-preview="handlePreview"
             :on-remove="handleRemove" :before-remove="beforeRemove" multiple :limit="3" :on-exceed="handleExceed" :file-list="fileList">
    <el-button size="small" type="primary">点击上传</el-button>
  </el-upload>

  <button type="button" class="layui-btn" id="excleUpload" style="display: none">
    <i class="layui-icon">&#xe67c;</i>上传图片
  </button>

  <!-- 隐藏域 -->
  <div style="display: none;">{{type}}</div>

</div>
</body>
</html>

<script>
  let app = new Vue({
    el: '#app',
    data: {
      test: '',
      // serviceUrl: 'http://8.131.77.32:8080', // 服务器IP和地址 记得要改！！！
      // serviceUrl: 'http://127.0.0.1:8080', //
      serviceUrl: '', //
      uploadUrl: '/uploadGoodsImg', // 文件上传地址
      fileList: [],
      imgUrl: '',
      items: [],
      dialogImgUrl: '//imgcps.jd.com/ling4/100009691096/5Lqs6YCJ5aW96LSn/5L2g5YC85b6X5oul5pyJ/p-5f3a47329785549f6bc7a6e1/4a956b6c/cr/s/q.jpg',
      dialogImgLoadState: false, // 弹窗中图片是否加载成功
      dialogTableVisible: false,
      dialogFormVisible: false, // 控制表单是否显示
      changeIndex: 0, // 用来表示被修改的条数号，用来更新数据
      dialogType: 0, // 弹窗管理的类型 1 代表‘添加’ 2 代表‘修改’
      searchContent: '', // 搜索内容
      dialogBtnLoding: false, // 提交按钮的加载条件
      form: {
        goodsId: 0,
        goodsName: '',
        mallPrice: 0.0,
        marketPrice: 0,
        description: '',
        pictureUrl: '',
        firstClassId: 0,
        secondClassId: 0,
        inventory: 0,
        status: 0,
        type: [],
      },
      srcList: [], // 图片预览数据
      formLabelWidth: '120px',
      timeValue: [],
      temp: {},
      goodsList: [],
      options: [], // 级联选择器中的数据
      excelUploadFileList:[],
    },
    created() {

      this.getCascader();

    },
    mounted() {
      this.getGoodsList();
    },
    methods: {
      // 添加商品
      insertGoods() {
        if (this.veritySubmitData() == false) {
          return;
        }
        let form = this.form;
        console.log(form);
        const params = new URLSearchParams();
        params.append('goodsName', form.goodsName);
        params.append('mallPrice', form.mallPrice);
        params.append('marketPrice', form.marketPrice);
        params.append('description', form.description);
        params.append('pictureUrl', form.pictureUrl);
        params.append('firstClassId', form.type[0]);
        params.append('secondClassId', form.type[1]);
        params.append('thirdClassId', form.type[2]);
        params.append('status', form.status);
        params.append('inventory', form.inventory);
        axios.post(this.serviceUrl + '/store/goods/insertGoods', params).then(
            response => {
              let data = response.data;
              if (data.code == 0) {
                this.$message.success('商品添加成功');
                this.dialogFormVisible = false;
                this.goodsList.push(data.data);
              } else {
                this.$message.error('商品添加失败，请重试');
              }
            }
        )
      },
      // 修改商品信息
      changeGoods() {
        if (this.veritySubmitData() == false) {
          return;
        }
        let form = this.form;
        console.log(form);
        const params = new URLSearchParams();
        params.append('goodsId', form.goodsId);
        params.append('goodsName', form.goodsName);
        params.append('mallPrice', form.mallPrice);
        params.append('marketPrice', form.marketPrice);
        params.append('description', form.description);
        params.append('pictureUrl', form.pictureUrl);
        params.append('firstClassId', form.type[0]);
        params.append('secondClassId', form.type[1]);
        params.append('thirdClassId', form.type[2]);
        params.append('status', form.status);
        params.append('inventory', form.inventory);
        axios.post(this.serviceUrl + '/store/goods/editGoods', params).then(
            response => {
              let data = response.data;
              if (data.code == 0) {
                this.$message.success('商品修改成功');
                this.dialogFormVisible = false;
                this.goodsList.splice(this.changeIndex,1,data.data);
              } else {
                this.$message.error('商品添加失败，请重试');
              }
            }
        )
      },
      // 用来验证提交的数据的正确性
      veritySubmitData() {
        // 验证图片
        if (this.form.pictureUrl == null || this.form.pictureUrl == '') {
          this.$message.error(`请选择图片`);
          return false;
        }
        // 验证图片地址的正确性
        if (this.dialogImgLoadState == false) {
          this.$message.error('请输入正确的图片路径');
          return false;
        }
        // 验证商品名称
        if (this.form.goodsName == null || this.form.goodsName == '') {
          this.$message.error(`请输入商品名称`);
          return false;
        }

        // 验证商品描述
        if (this.form.description == null || this.form.description == '') {
          this.$message.error(`请输入商品标题`);
          return false;
        }
        // 验证商品描述
        if (this.form.description == null || this.form.description == '') {
          this.$message.error(`请输入商品标题`);
          return false;
        }
        // 验证商品描述
        if (this.form.mallPrice == null || this.form.mallPrice == '') {
          this.$message.error(`请输入商品售价`);
          return false;
        }
        // 验证商品描述
        if (this.form.marketPrice == null || this.form.marketPrice == '') {
          this.$message.error(`请输入商品原价`);
          return false;
        }

        if (this.form.marketPrice < this.form.mallPrice) {
          this.$message.error(`原价应不低于售价`);
          return false;
        }

        // 验证库存
        if (this.form.inventory == null || this.form.inventory == '') {
          this.$message.error(`请选择库存`);
          return false;
        }

        return true;
      },
      // 根据ID删除一条商品数据
      deleteById(goodsId, index) {
        this.$confirm('删除后该数据将不能找回，确认删除？', '提示', {
          confirmButtonText: '确定',
          cancelButtonText: '取消',
          type: 'warning'
        }).then(() => {
          // 确定
          const params = new URLSearchParams();
          params.append('goodsId', goodsId);
          axios.post(this.serviceUrl + '/store/goods/deleteGoodsByGoodId', params).then(
              response => {
                let data = response.data;
                if (data.code == 0) {
                  this.$message.success(`删除成功`);
                  this.goodsList.splice(index, 1);
                } else {
                  this.$message.error(`删除失败`);
                }
              }
          );
        }).catch(() => {
          // 取消
          return;
        });
      },
      // 获取商品信息
      getGoodsList() {
        const params = new URLSearchParams();
        axios.post(this.serviceUrl + '/store/goods/getGoodsList', params).then(
            response => {
              console.log(response.data.data)
              let data = response.data
              if (data.code == 0) {
                this.goodsList = response.data.data;
                for (let item of this.goodsList) {
                  this.srcList.push(item.pictureUrl)
                }
              }
            }
        );
      },
      // 获取级联选择器的数据
      getCascader() {
        axios.post(this.serviceUrl + '/store/goods/getClassForCascader').then(
            response => {
              console.log(response.data.data)
              let data = response.data
              if (data.code == 0) {
                this.options = response.data.data;
              }
            }
        );
      },
      // 更改库存
      changeInventory(goodsId, inventory) {
        console.log(goodsId, inventory)
        const params = new URLSearchParams();
        params.append("goodsId", goodsId);
        params.append("inventory", inventory);
        axios.post(this.serviceUrl + "/store/goods/changeInventory", params).then(
            response => {
              console.log(goodsId, inventory)
              if (response.data.code != 0) {
                this.$message.error('修改失败')
              }
            }
        )
      },
      // 处理级联选择的change事件
      handleCascader(goodsId, type, index) {
        console.log(goodsId)
        console.log(type[0])
        console.log(type[1])
        console.log(type[2])
        const params = new URLSearchParams();
        params.append("goodsId", goodsId);
        params.append("firstId", type[0]);
        params.append("secondId", type[1]);
        params.append("thirdId", type[2]);
        axios.post(this.serviceUrl + "/store/goods/changeClass", params).then(
            response => {
              let data = response.data;
              if (data.code != 0) {
                this.$message.error(data.msg)
              }
            }
        )
      },
      // 展示商品状态
      showStatus(status) {
        if (status == 0) {
          return '未上架'
        } else if (status == 1) {
          return '上架中'
        }
      },
      // 修改商品状态
      changeStatus(id, status) {
        console.log(id, status)
      },
      handleClick() {
        this.num = this.num.replace(/[^\w]/g, '');
      },
      // 打开"添加"弹窗
      insertOpenDialog() {
        this.timeValue = '';
        this.dialogType = 1;
        this.form = {
          inventory: 0,
        };
        this.dialogImgUrl = '';
        // 显示
        this.dialogFormVisible = true;
      },
      // 打开"编辑"弹窗
      editOpenDialog(goodsId, index) {
        this.changeIndex = index;
        this.timeValue = '';
        this.dialogType = 2;
        let form;
        console.log(this.goodsList[index])
        Object.assign(this.form, this.goodsList[index])
        let url = this.form.pictureUrl;
        this.dialogImgUrl = url;
        // this.form.pictureUrl = 1;


        // 显示
        this.dialogFormVisible = true;
      },

      // 把当前点击的图片调整到第一个
      getPrivewImages(index) {
        let tempImgList = [...this.srcList]; //所有图片地址
        if (index == 0) return tempImgList;
        // 调整图片顺序，把当前图片放在第一位
        let start = tempImgList.splice(index);
        let remain = tempImgList.splice(0, index);
        return start.concat(remain); //将当前图片调整成点击缩略图的那张图片
      },
      // 弹窗的图片加载成功调用
      imgLoadSuccess(e) {
        this.dialogImgLoadState = true;
        console.log("图片加载成功")
      },
      // 弹窗的图片加载失败调用
      imgLoadError(e) {
        this.dialogImgLoadState = false;
        console.log("图片加载失败")
      },
      filterTag(value, row, column) {
        console.log("筛选" + row.status)
        return row.status == value;
      },
      handleRemove(file, fileList) {
        console.log(file, fileList);
      },
      handlePreview(file) {
        console.log(file);
      },
      handleExceed(files, fileList) {
        this.$message.warning(`当前限制选择 1 个文件，本次选择了 ${files.length} 个文件`);
      },
      beforeRemove(file, fileList) {
        return this.$confirm(`确定移除 ${ file.name }？`);
      },
      // 文件上传成功后回调
      uploadSuccess(response, file, fileList) {
        console.log(response)
        console.log(response.code)
        if (response.code == 0) {
          this.$message.success(`文件上传成功`);
          this.dialogImgUrl = response.msg;
          this.form.pictureUrl = response.msg;
          this.fileList = [];
        } else {
          this.$message.error(`文件上传失败`);
        }

      },
      // 当图片地址输入框失去焦点后触发
      dialogImgUrlChange() {
        this.dialogImgUrl = this.form.pictureUrl;
      },
    },
    filters: {
      numFilter(value) {
        let realVal = ''
        if (!isNaN(value) && value !== '') {
          // 截取当前数据到小数点后两位
          realVal = parseFloat(value).toFixed(2)
        } else {
          realVal = '--'
        }
        return realVal
      }
    },
    computed: {
      type() {
        for (let goods of this.goodsList) {
          goods.type = [goods.firstClassId, goods.secondClassId, goods.thirdClassId];
        }
        return 0;

      }
    }
  })
</script>
<script>
  // 模拟点击文件上传按钮
  function clickUpload() {
    // document.getElementsByClassName('el-upload').click()
    $('.el-upload').click();
  }
  function clickExcelUpload() {
    $('#excleUpload').click();
  }
</script>
<script>
  layui.use('upload', function() {
    var upload = layui.upload;

    //执行实例
    var uploadInst = upload.render({
      elem: '#excleUpload', //绑定元素
      url: '/uploadExcel/', //上传接口
      accept: 'file',
      acceptMime: 'application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet',
      exts: 'xlsx|xls', //只允许上传excel文件
      done: function(res) {
        console.log(res)
        if (res.code != 0) {
          app.$message.error(res.msg);
        }
        app.$message.success(`商品数据导入成功`);
        setTimeout(() => location.reload(), 1000)
      },
      error: function() {
        //请求异常回调
      }
    });
  });
</script>
