<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.thymeleaf.org/thymeleaf-extras-shiro">
<head>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" th:href="@{/admin/css/font.css}">
    <link rel="stylesheet" th:href="@{/admin/css/xadmin.css}">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/admin/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/admin/js/xadmin.js}"></script>
    <script type="text/javascript" th:src="@{/admin/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/admin/js/xadmin.js}"></script>
    <style>
        #test1 {
            padding: 20px;
        }

    </style>
</head>

<body>
<input th:value="${adminId}" id="adminId" type="hidden">
<div class="x-nav">
      <span class="layui-breadcrumb">

      </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
       href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
</div>
<div id="test1"></div>

<script>
    var global_id;
    var adminId = $("#adminId").val();
    console.log(adminId)
    $.ajax({
        url: '/admin/permission/getAdminIdTreeData',
        type: 'post',
        dataType: "json",
        data: {adminId: adminId},
        success: function (data) {
            layui.use('tree', function () {
                var tree = layui.tree;
                //渲染

                var inst1 = tree.render({
                    elem: '#test1'  //绑定元素
                    , data: data
                    , limitNodeAddLevel: 3  // 限制添加节点rank 不显示“+”图标
                    , limitNodeDelLevel: 1  // 限制显示“删除”的层级
                    , accordion: true
                    , showCheckbox: true  //是否显示复选框
                    // , edit: ['add', 'update', 'del'] //操作节点的图标
                    , click: function (obj) {
                        var data = obj.data;  //获取当前点击的节点数据
                        global_id = data.id;
                        // layer.msg('状态：' + obj.state + '<br>节点数据：' + JSON.stringify(data));
                        // layer.msg(JSON.stringify(data.children));
                    }
                    // 复选框被点击的回调
                    , oncheck: function (obj) {
                        console.log(obj.data); //得到当前点击的节点数据
                        console.log(obj.checked); //得到当前节点的展开状态：open、close、normal  被选中的状态
                        // console.log(obj.elem); //得到当前节点元素
                        console.log(obj.data.id); //得到当前节点元素
                        editPermission(obj.data.id, obj.checked)
                    }
                });
            });
        }
    });

    // 当结点的状态发生改变时，直接更新状态
    function editPermission(id, checked) {
        var permissionId = id;
        console.log(adminId);
        console.log(permissionId);
        $.ajax({
            url: "/admin/permission/editPermission",
            data: {
                adminId: adminId,
                permissionId: permissionId,
                checked: checked
            },
            dataType: "json",
            success: function (data) {
                console.log(data);
                if (data.status == 0) {
                    layer.msg("更新成功");
                } else {
                    layer.msg("更新失败");
                }
            }
        })
    }


</script>
</body>
</html>
</body>
</html>