<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.thymeleaf.org/thymeleaf-extras-shiro">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" th:href="@{/admin/css/font.css}">
    <link rel="stylesheet" th:href="@{/admin/css/xadmin.css}">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/admin/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/admin/js/xadmin.js}"></script>
    <script type="text/javascript" th:src="@{/admin/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/admin/js/xadmin.js}"></script>
</head>
<body>

<div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a href="">演示</a>
        <a>
          <cite>导航元素</cite></a>
      </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
       href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
</div>
<div class="x-body">
    <div class="layui-row">
        <form class="layui-form layui-col-md12 x-so" onsubmit="return false;">

            <input type="text" name="username" id="findByUsername" placeholder="请输入用户名" autocomplete="off"
                   class="layui-input">
            <button class="layui-btn" lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
        </form>

    </div>
    <button shiro:hasRole="admin" class="layui-btn" onclick="x_admin_show('添加用户','./toAddUser',600,400)">
        <i class="layui-icon"></i>添加
    </button>
    <table id="demo" lay-filter="test"></table>


</div>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-even="detail">查看</a>
    <a class="layui-btn layui-btn-xs layui-btn-normal" lay-even="detail">编辑</a>
    <a class="layui-btn layui-btn-xs  layui-btn-danger" lay-even="detail">删除</a>
</script>

<script>
    layui.use('table', function () {
        var table = layui.table;

        var tableIns = table.render({
            elem: "#demo",
            height: 450,
            url: '/admin/getFirstClass', // 数据接口
            page: true, // 开启分页
            toolbar: '#toolbarDemo', //开启头部工具栏，并为其绑定左侧模板
            defaultToolbar: ['filter', 'exports', 'print', { //自定义头部工具栏右侧图标。如无需自定义，去除该参数即可
                title: '提示'
                , layEvent: 'LAYTABLE_TIPS'
                , icon: 'layui-icon-tips'
            }],
            cols: [
                [// 表头
                    {field: 'id', title: 'ID', sort: true, fixed: 'left'},
                    {field: 'className', title: '一级目录', sort: true, fixed: 'center'},

                    {fixed: 'right', algin: 'center', toolbar: '#barDemo'}

                ]
            ]
            , id: 'testReload'
        })

    })


</script>



</body>
</html>