<!DOCTYPE html>
<html lang="zh">
<head>
    <mata charset="utf-8">
        <title>古诗</title>
        <style>
            body {
                background-color: bisque;
            }
        </style>
        <head>
<body>
<div>
    <h1 style="text-align:center,">
        春晓</h1>
    <h3 style="text-align:center,">
        唐</h3>
    <h3 style="text-align:center,">
        孟浩然</h3>
    <p style="text-align:center,">
        春眠不觉晓，处处闻啼鸟。</p>
    <p style="text-align:center,">
        夜来风雨声，花落知多少。</p>
</div>
</body>
</head>